@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===================== */
/* ESTILO BASE DO SITE   */
/* ===================== */

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;

  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}


/* ===================== */
/* HEADINGS              */
/* ===================== */

h1, h2 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 40px;
  margin: 20px 0;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* ===================== */
/* TEXTO                */
/* ===================== */

p {
  margin: 0;
}
